.content{
    margin-left:20%;
}

.content-panel{
    background-color: #FFFFFF;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

.hidden { 
    display:none;
}

.header hr{
    margin-top:5px;
    border-color: #ccc;
}

.order-title{
    width: 50%;
    float:left;
}

.order-title h2{
    color: #4d4d4d;
}

.order-title h2 .order-number{
    font-size: 14px;
    font-weight: 500;
    color:#737373;
}

.order-customer{
    width: 50%;
    float:left;
}

.order-save{
    width: 50%;
    float:right;
    text-align: right;
}

.btn-save{
    margin: 10px;
    background: #00cc62;
    border-radius: 5px;
    height: 35px;
    width: 120px;
    border: 0;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px; 
}

.btn-edit{
    margin: 10px;
    background: #e65c00;
    border-radius: 5px;
    height: 35px;
    width: 120px;
    border: 0;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;  
}

.total-order{
    width: 50%;
    float:right;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 600;
    text-align: right;
}

.line{
    width: 98%;
    margin-left: 1%;
}

input[readonly]{
    background-color:#ddd;
    border:1px solid #ccc;
}

.input-order{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 35px;
    margin-left: 10px;
    padding: 0 10px;
    font-size: 14px;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin: 10px;
}

.icon-container{
    height: 35px;
    background: #663991;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
}  


.select-style {
    border: 1px solid #ddd;
    width: 300px;
    height: 35px;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    background: #fff;
    
}

.select-style select {
    padding: 8px 10px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    font-size: 14px;
    color: #777;
}

select[readonly="true"] {
    background-color:#ddd;
    pointer-events: none;
    touch-action: none;
}

.select-style select:focus {
    outline: none;
}

.icon {
    color: white;
    min-width: 50px;
}

.input-sm{
    width: 75px;
}

.input-md{
    width: 150px;
}

.input-lg{
    width: 300px;
}

.btn{
    margin-left: 10px;
    background: #663991;
    border-radius: 5px;
    height: 35px;
    width: 150px;
    border: 0;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px; 
}

.td-center{
    text-align: center;
}

.btn-remove{
    background: #ff1a1a;
    border-radius: 5px;
    height: 25px;
    width: 30px;
    border: 0;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px; 
}

.info p{
    margin: 5px 10px 10px 10px;
    font-size: 12px;
    font-weight: bold;
    color:#555;
    font-style: italic;
}

.products {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
.products td, .products th {
    border: 1px solid #fff;
    padding: 8px;
}
  
.products tr:nth-child(even){background-color: #f2f2f2;}
  
.products tr:hover {background-color: #ddd;}
  
.products th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #663991;
    color: white;
}

.products th:first-child{
    
    border-radius:10px 0 0 0;
}
  
.products th:last-child{
    border-radius:0 10px 0 0;
}
